.title {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-size: clamp(38px, 4vw, 60px);
    &_main {
        font-size: clamp(32px, 5vw, 50px);
    }
    &_invite {
        font-size: clamp(50px, 5vw, 80px);
        span {
            display: block;
        }
    }
    &_programm {
        margin-top: 40px;
    }
    &_footer {
        font-weight: 700;
        color: #123c69;
        text-shadow: 2px 2px 10px #ac3b61;
        opacity: .7;
        font-size: clamp(38px, 4vw, 80px);
    }
}

.vibes {
    font-family: "Great Vibes", cursive;
    font-weight: 400; 
    text-transform: none;
    font-size: clamp(26px, 4vw, 44px);
    text-wrap: pretty;
    margin-top: 10px;
}

.descr {
    font-size: clamp(14px, 3vw, 22px);    
    text-transform: uppercase;
    line-height: 1.8rem;
    text-align: center;
    &_invite {
        width: 90%;
        margin: 0 auto;
    }
    &_programm {
        span {
            font-size: 18px;
            text-transform: uppercase;
            font-style: normal;
            font-weight: 400;
        }
        font-size: 14px;
        font-style: italic;
        text-transform: none;
        font-weight: 400;
    }
    &_footer {
        font-size: 16px;
    }
}